/* container for the text and phones imgs*/
.content-view {
  //border: 5px solid green;
  margin: 0 auto;
  min-height: 65vh;
  height: auto;
  min-width: 70vw;
  display: flex;
  justify-content: center;
}

.imgs-wrapper {
  //border: 1px solid red;
  position: relative;
  width: 25vw;
  height: auto;

  &__img-1 {
    //border: black 1px solid;
    position: absolute;
    top: 1vh;
    left: 3vh;
    z-index: 1;
    max-height: 59.2vh;
    max-width: 14.8vw;
    width: auto;
    height: auto;
  }

  &__img-2 {
    position: absolute;
    top: 0;
    right: 3vh;
    z-index: auto;
    max-height: 59.2vh;
    max-width: 14.8vw;
    width: auto;
    height: auto;
  }
}

.text-wrapper {
  // border: 1px solid red;
  display: flex;
  flex-basis: 23vw;
  height: 50vh;
  padding: 3vw 0;
  flex-direction: column;
  justify-content: space-around;
  color: white;

  &__header {
    // border: 1px solid brown;
    width: 22vw;
    font-size: 2vw;
    font-weight: 500;
    line-height: 1.4;
  }

  &__sub-header {
    //border: 1px solid brown;
    width: 22vw;
    height: auto;
    font-size: 0.75vw;
    font-weight: 500;
    line-height: 1.5;
  }
}

.buttons-wrapper {
  //border: 1px solid brown;
  display: flex;
  width: 19vw;
  justify-content: space-between;
  font-size: 1vw;
  font-weight: 600;

  &__btn-learn {
    display: flex;
    flex-basis: 9vw;
    height: 5vh;
    justify-content: center;
    align-items: center;
    background-color: #4bbf58;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all, 0.2s ease;

    &:hover {
      opacity: 0.8;
    }
  }

  &__btn-get {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 9vw;
    height: 5vh;
    background-color: #3397db;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all, 0.2s ease;

    &:hover {
      opacity: 0.8;
    }
  }
}
