@media only screen and (max-width: 1300px) {
  .content-view {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .content-view,
  .header__nav {
    display: none;
  }

  .header__hamburger {
    display: flex;
    color: white;
  }
}
